@font-face {
  font-family: 'Lato';
  src: url(Lato.ttf);
}

* {
  font-family: 'Lato';
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
input {
  all: unset;
  transition: all 0.3s;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: lightgray;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

button:hover {
  filter: brightness(0.7);
}

button.add {
  padding: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  place-content: center;
  border-radius: 50%;
}

button.add:disabled {
  color: gray;
}

main {
  flex: 1;
  display: flex;
  padding: 1rem;
  max-height: calc(100vh - 2rem);
  align-items: stretch;
  overflow-x: scroll;
  gap: 1rem;
}

main>div:not(.subreddit) {
  text-align: center;
  place-content: center;
}

main>div {
  flex: 0 0 20rem;
}

dialog.add {
  text-align: center;
  border: none;
}

dialog.add::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog.add input {
  text-align: left;
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
}

dialog.add input:hover,
dialog.add input:focus {
  border-color: black;
}

dialog.add button {
  margin-top: 0.5rem;
}

.subreddit {
  overflow: scroll;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid lightgray;
  transition: all 0.3s;
}

.subreddit:has(.error) {
  color: red;
  border-color: red;
  place-content: center;
  text-align: center;
}

.error {
  font-size: 1.4rem;
}

.error-message {
  text-align: left;
  padding: 2rem 0;
}

.subreddit:not(:has(.error)):hover {
  border-color: black;
  scale: 1.02;
}

.message {
  margin-top: 1rem;
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
