@import 'subreddit.css';
@import 'dialog.css';

@font-face {
  font-family: 'Lato';
  src: url(../assets/Lato.ttf);
}

* {
  font-family: 'Lato', monospace;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
input,
select {
  all: unset;
  transition: all 0.3s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: lightgray;
  padding: 0.4rem;
}

button:hover {
  filter: brightness(0.7);
}

button:disabled {
  color: gray;
}

button.add,
button.menu {
  padding: 0;
  text-align: center;
  align-content: center;
  border-radius: 50%;
}

button.add {
  width: 3rem;
  height: 3rem;
  font-size: 1.4rem;
}

button.menu {
  width: 2rem;
  height: 2rem;
  z-index: 1000;
  background-color: transparent;
  position: relative;
}

button.menu:hover,
button.close:hover,
button.menu:has(div.menu.open) {
  filter: none;
  background-color: rgb(0, 0, 0, 0.2);
}

div.menu button.remove {
  background-color: transparent;
  border-radius: 0;
}

div.menu button.remove:hover {
  backdrop-filter: brightness(0.9);
}

button.close {
  display: inline-flex;
  background-color: transparent;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

button.load {
  display: block;
  margin: 1rem auto;
}

main {
  scroll-behavior: smooth;
  flex: 1;
  display: flex;
  padding: 1rem;
  max-height: calc(100vh - 2rem);
  align-items: stretch;
  overflow-x: auto;
  gap: 1rem;
}

main > div:not(.subreddit) {
  text-align: center;
  align-content: center;
  border: 2px solid transparent;
}

main > div {
  flex: 0 0 20rem;
  box-sizing: border-box;
}

.message {
  margin-top: 1rem;
}

.fa-spinner {
  animation: spin 1s linear infinite;
}

.error {
  color: red;
}

.icons {
  display: none;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@media screen and (max-width: 500px) {
  main {
    overflow: hidden;
    padding-bottom: 4rem;
  }

  .icons {
    display: flex;
    position: fixed;
    margin: 0 auto;
    bottom: 1rem;
    width: max-content;
    left: calc(50% - 1rem);
    overflow: hideen;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
    transition: all 0.3s;
  }

  .icons > * {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid lightgray;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    user-select: none;
  }

  .icons > *.current {
    scale: 1.1;
    border-color: gray;
  }

  main > div {
    flex: 0 0 calc(100vw - 2rem);
    max-height: calc(100vh - 6rem);
  }
}
